{% extends "base.html" %}

{% block contenido %}
<h1>Listado de Medicos</h1>
<p>
    <a href={% url "crear_medico"}>Crear Medicos</a>
</p>

{% if medicos %}
<ul>
    {% for medico in medicos %}
    <li>
    {{medico}}
    | <a href={% url "detalle_medico" medico.id}>Ver Mas</a>
    | <a href={% url "modificar_medico" medico.id}>Modificar</a>
    | <a href={% url "eliminar_medico" medico.id}>Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No hay medicos creados</p>
{% endif %}
{% endblock contenido %}
