

{% extends "base.html" %}

{% block contenido %}
<h1>Listado de Médicos</h1>
<ul>
    {% for medico in medicos %}
    <li>
        {{ medico.nombre }} {{ medico.apellido }} <br>
        {% if medico.imagen %}
            <img src="{{ medico.imagen.url }}" alt="Foto de {{ medico.nombre }}" width="100">
        {% endif %}
        <br>
        <a href="{% url 'modificar_medico' medico.id %}">Modificar</a> | 
        <a href="{% url 'eliminar_medico' medico.id %}">Eliminar</a>
    </li>
{% endfor %}

</ul>
<a href="{% url 'crear_medico' %}">Agregar Médico</a>
{% endblock contenido %}
